* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background:url('../public/Images/bg-XO.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Fredoka", sans-serif;
}